@tailwind base;
@tailwind components;
@tailwind utilities;



.modal{
    animation: appear 150ms linear 1;
}

@keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  